@charset "utf-8";



// Our variables
$base-font-family: 'Lato', 'Open Sans', Helvetica, Arial, sans-serif !important;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.6em;

$spacing-unit:     15px;

$text-color:       #111;
$background-color: #f9f9f9;
$brand-color:      #2a7ae2;
$brand-top-color:  #5a7b09;
$hover-color:      #DD1144;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$code-backgroud-color: #29281e;
$code-font-color:  #eee;  


// Width of the content area
$content-width:    960px;
$page-width:       1000px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "_syntax-highlighting-native" // "syntax-highlighting"
;


.social-icon {
	width:32.4px;
	height:38.6px;
	display: inline-block
}

.facebook{
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20d%3D%22M400%2032H48A48%2048%200%200%200%200%2080v352a48%2048%200%200%200%2048%2048h137.25V327.69h-63V256h63v-54.64c0-62.15%2037-96.48%2093.67-96.48%2027.14%200%2055.52%204.84%2055.52%204.84v61h-31.27c-30.81%200-40.42%2019.12-40.42%2038.73V256h68.78l-11%2071.69h-57.78V480H400a48%2048%200%200%200%2048-48V80a48%2048%200%200%200-48-48z%22%20fill%3D%22%235a7b09%22%20%2F%3E%3C%2Fsvg%3E');
}

.linkedin {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20d%3D%22M416%2032H31.9C14.3%2032%200%2046.5%200%2064.3v383.4C0%20465.5%2014.3%20480%2031.9%20480H416c17.6%200%2032-14.5%2032-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4%20416H69V202.2h66.5V416zm-33.2-243c-21.3%200-38.5-17.3-38.5-38.5S80.9%2096%20102.2%2096c21.2%200%2038.5%2017.3%2038.5%2038.5%200%2021.3-17.2%2038.5-38.5%2038.5zm282.1%20243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6%200-39.9%2027-39.9%2054.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8%2030.6-34.5%2062.9-34.5%2067.2%200%2079.7%2044.3%2079.7%20101.9V416z%22%20fill%3D%22%235a7b09%22%20%2F%3E%3C%2Fsvg%3E');
}
.github {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20d%3D%22M400%2032H48C21.5%2032%200%2053.5%200%2080v352c0%2026.5%2021.5%2048%2048%2048h352c26.5%200%2048-21.5%2048-48V80c0-26.5-21.5-48-48-48zM277.3%20415.7c-8.4%201.5-11.5-3.7-11.5-8%200-5.4.2-33%20.2-55.3%200-15.6-5.2-25.5-11.3-30.7%2037-4.1%2076-9.2%2076-73.1%200-18.2-6.5-27.3-17.1-39%201.7-4.3%207.4-22-1.7-45-13.9-4.3-45.7%2017.9-45.7%2017.9-13.2-3.7-27.5-5.6-41.6-5.6-14.1%200-28.4%201.9-41.6%205.6%200%200-31.8-22.2-45.7-17.9-9.1%2022.9-3.5%2040.6-1.7%2045-10.6%2011.7-15.6%2020.8-15.6%2039%200%2063.6%2037.3%2069%2074.3%2073.1-4.8%204.3-9.1%2011.7-10.6%2022.3-9.5%204.3-33.8%2011.7-48.3-13.9-9.1-15.8-25.5-17.1-25.5-17.1-16.2-.2-1.1%2010.2-1.1%2010.2%2010.8%205%2018.4%2024.2%2018.4%2024.2%209.7%2029.7%2056.1%2019.7%2056.1%2019.7%200%2013.9.2%2036.5.2%2040.6%200%204.3-3%209.5-11.5%208-66-22.1-112.2-84.9-112.2-158.3%200-91.8%2070.2-161.5%20162-161.5S388%20165.6%20388%20257.4c.1%2073.4-44.7%20136.3-110.7%20158.3zm-98.1-61.1c-1.9.4-3.7-.4-3.9-1.7-.2-1.5%201.1-2.8%203-3.2%201.9-.2%203.7.6%203.9%201.9.3%201.3-1%202.6-3%203zm-9.5-.9c0%201.3-1.5%202.4-3.5%202.4-2.2.2-3.7-.9-3.7-2.4%200-1.3%201.5-2.4%203.5-2.4%201.9-.2%203.7.9%203.7%202.4zm-13.7-1.1c-.4%201.3-2.4%201.9-4.1%201.3-1.9-.4-3.2-1.9-2.8-3.2.4-1.3%202.4-1.9%204.1-1.5%202%20.6%203.3%202.1%202.8%203.4zm-12.3-5.4c-.9%201.1-2.8.9-4.3-.6-1.5-1.3-1.9-3.2-.9-4.1.9-1.1%202.8-.9%204.3.6%201.3%201.3%201.8%203.3.9%204.1zm-9.1-9.1c-.9.6-2.6%200-3.7-1.5s-1.1-3.2%200-3.9c1.1-.9%202.8-.2%203.7%201.3%201.1%201.5%201.1%203.3%200%204.1zm-6.5-9.7c-.9.9-2.4.4-3.5-.6-1.1-1.3-1.3-2.8-.4-3.5.9-.9%202.4-.4%203.5.6%201.1%201.3%201.3%202.8.4%203.5zm-6.7-7.4c-.4.9-1.7%201.1-2.8.4-1.3-.6-1.9-1.7-1.5-2.6.4-.6%201.5-.9%202.8-.4%201.3.7%201.9%201.8%201.5%202.6z%22%20fill%3D%22%235a7b09%22%20%2F%3E%3C%2Fsvg%3E');
}
.medium {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20d%3D%22M0%2032v448h448V32H0zm372.2%20106.1l-24%2023c-2.1%201.6-3.1%204.2-2.7%206.7v169.3c-.4%202.6.6%205.2%202.7%206.7l23.5%2023v5.1h-118V367l24.3-23.6c2.4-2.4%202.4-3.1%202.4-6.7V199.8l-67.6%20171.6h-9.1L125%20199.8v115c-.7%204.8%201%209.7%204.4%2013.2l31.6%2038.3v5.1H71.2v-5.1l31.6-38.3c3.4-3.5%204.9-8.4%204.1-13.2v-133c.4-3.7-1-7.3-3.8-9.8L75%20138.1V133h87.3l67.4%20148L289%20133.1h83.2v5z%22%20fill%3D%22%235a7b09%22%20%2F%3E%3C%2Fsvg%3E');
}
.instagram{
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20d%3D%22M224%2C202.66A53.34%2C53.34%2C0%2C1%2C0%2C277.36%2C256%2C53.38%2C53.38%2C0%2C0%2C0%2C224%2C202.66Zm124.71-41a54%2C54%2C0%2C0%2C0-30.41-30.41c-21-8.29-71-6.43-94.3-6.43s-73.25-1.93-94.31%2C6.43a54%2C54%2C0%2C0%2C0-30.41%2C30.41c-8.28%2C21-6.43%2C71.05-6.43%2C94.33S91%2C329.26%2C99.32%2C350.33a54%2C54%2C0%2C0%2C0%2C30.41%2C30.41c21%2C8.29%2C71%2C6.43%2C94.31%2C6.43s73.24%2C1.93%2C94.3-6.43a54%2C54%2C0%2C0%2C0%2C30.41-30.41c8.35-21%2C6.43-71.05%2C6.43-94.33S357.1%2C182.74%2C348.75%2C161.67ZM224%2C338a82%2C82%2C0%2C1%2C1%2C82-82A81.9%2C81.9%2C0%2C0%2C1%2C224%2C338Zm85.38-148.3a19.14%2C19.14%2C0%2C1%2C1%2C19.13-19.14A19.1%2C19.1%2C0%2C0%2C1%2C309.42%2C189.74ZM400%2C32H48A48%2C48%2C0%2C0%2C0%2C0%2C80V432a48%2C48%2C0%2C0%2C0%2C48%2C48H400a48%2C48%2C0%2C0%2C0%2C48-48V80A48%2C48%2C0%2C0%2C0%2C400%2C32ZM382.88%2C322c-1.29%2C25.63-7.14%2C48.34-25.85%2C67s-41.4%2C24.63-67%2C25.85c-26.41%2C1.49-105.59%2C1.49-132%2C0-25.63-1.29-48.26-7.15-67-25.85s-24.63-41.42-25.85-67c-1.49-26.42-1.49-105.61%2C0-132%2C1.29-25.63%2C7.07-48.34%2C25.85-67s41.47-24.56%2C67-25.78c26.41-1.49%2C105.59-1.49%2C132%2C0%2C25.63%2C1.29%2C48.33%2C7.15%2C67%2C25.85s24.63%2C41.42%2C25.85%2C67.05C384.37%2C216.44%2C384.37%2C295.56%2C382.88%2C322Z%22%20fill%3D%22%235a7b09%22%20%2F%3E%3C%2Fsvg%3E');
}
.telegram {
  height: 33.6px;
  margin-bottom: 3px;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20496%20512%22%3E%3Cpath%20d%3D%22M248%208C111%208%200%20119%200%20256s111%20248%20248%20248%20248-111%20248-248S385%208%20248%208zm121.8%20169.9l-40.7%20191.8c-3%2013.6-11.1%2016.9-22.4%2010.5l-62-45.7-29.9%2028.8c-3.3%203.3-6.1%206.1-12.5%206.1l4.4-63.1%20114.9-103.8c5-4.4-1.1-6.9-7.7-2.5l-142%2089.4-61.2-19.1c-13.3-4.2-13.6-13.3%202.8-19.7l239.1-92.2c11.1-4%2020.8%202.7%2017.2%2019.5z%22%20fill%3D%22%235a7b09%22%20%2F%3E%3C%2Fsvg%3E');
}